<h1>Task saved</h1>

<p>Your tasks was sucessfully saved.</p>

<p><a href="/tasks/<%= @task.id %>">View <%= @task.name %></a></p>

<p><a href="/tasks/new">Create another task</a></p>

<p><a href="/tasks">Home</a></p>
